@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .opacity-gradient-bottom-top {
    mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .challenge-7-gradient {
    background: rgb(150, 152, 211);
    background: linear-gradient(
      331deg,
      rgba(150, 152, 211, 1) 10%,
      rgba(180, 208, 219, 1) 21%,
      rgba(255, 255, 255, 1) 52%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .challenge-24-clip {
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
  }

  .curved {
    border-bottom-left-radius: 100% 20%;
    border-bottom-right-radius: 100% 20%;
  }
}
